@font-face {
    font-family: 'HankenSans-ExtraBold';
    src: url('fonts/HankenSans-ExtraBold.eot');
    src: local('â˜º'), url('fonts/HankenSans-ExtraBold.woff') format('woff'), url('fonts/HankenSans-ExtraBold.ttf') format('truetype'), url('fonts/HankenSans-ExtraBold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HankenSans-Light';
    src: url('fonts/HankenSans-Light.eot');
    src: local('â˜º'), url('fonts/HankenSans-Light.woff') format('woff'), url('fonts/HankenSans-Light.ttf') format('truetype'), url('fonts/HankenSans-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body, html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;    
}

* {
    box-sizing: border-box;
}

body {
    background: #848496 url("league-of-legends-champions-art.jpg") no-repeat center;
    /* width: 100%;
    height: 100%; */
    background-size:100% 100%;
    /* background: linear-gradient(180deg, rgba(238,221,229,1) 0%, rgba(194,188,204,1) 65%, rgba(178,196,217,1) 100%); */
    font-family: 'HankenSans-Light';
    /* background-attachment: fixed;     */
    /* margin-bottom:150px; */
}

button {
    background: rgba(39, 141, 224);
    background-repeat: no-repeat;
    background-position: 20px 13px;
    display: block;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
    font-size: 15px;
    color: #fff;
    line-height: 15px;
    outline: none;
    letter-spacing: 1px;
    font-weight: bold;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

button:hover {
    background-color: rgb(50, 170, 60);
    outline: none;
}

button.bottom {
    position: absolute;
    bottom:0;
}
.text-icon {
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
}
.red {
    color: rgb(209, 56, 36);
} 
.purple {
    color: rgb(199, 88, 140);
}
.blue {
    color: rgb(46, 96, 153);
}
.center {
    margin: auto;
    text-align:center;
}
.strong {
    font-family: 'HankenSans-ExtraBold';
    font-weight: bold;
}



.bg-gradient {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: linear-gradient(180deg, rgba(255, 196, 0, 0.4) 0%, #848496 66.11%);
    mix-blend-mode: normal;
    z-index: 1;
    position: absolute;
}
#container {
    width: 100%;
    height: 100%;
    position: absolute;
    color: white;
    z-index: 2;
    /* padding: 50px 50px 70px 50px; */
    text-align: center;    
}


header {
    width:100%; 
    height: auto;
    z-index:2;
}
#logo {
    background: no-repeat center/20% url("Image.png");
    width: 100%;
    height: 200px;
}


#container .container-content {
    width: 80%;
    background: linear-gradient(180deg, rgba(255,205,58, 0.4) 0%, #848496 66.11%);
    margin: auto;
    color:initial;
    padding: 40px;
    text-align: left;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;      
}

#container .container-content article.container-content-video {
    background: black;
    width: 100%;
    /* min-height: 60%; */
}
.container-content article.container-content-video .video-introduction {
    width: 100%;
    height:500px;
}
#container .container-content .container-content-presentation {
    background: white;
    width: 100%;
    min-height: 100%;
    margin-bottom: 50px;
    padding-bottom: 50px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}
.container-content-presentation > article {
    padding-bottom: 5vw;
}
.container-content-presentation > article > h2 {
    font-family: 'HankenSans-ExtraBold';
    font-size: 2vw;
}
.container-content-presentation > article > h1 {
    font-family: 'HankenSans-ExtraBold';
    font-size: 3vw;
}
.container-content-presentation article.content-presentation-about--left {
    text-align: right;
}
.container-content-presentation article.content-presentation-about--right {
    text-align: left;
    background: #f8f8f8;
}
.container-content-presentation article.content-presentation-twitch {
    margin-top: 50px;
    background: #f8f8f8;
    /* background: linear-gradient(180deg, rgba(255, 196, 0, 0.4) 0%, rgb(214, 130, 3) 66.11%); */
}
/* .container-content-presentation article.content-presentation-twitch {
    background: rgb(253, 152, 0);
} */
.container-content-presentation article.content-presentation-youtube,
.container-content-presentation article.content-presentation-twitch, 
.container-content-presentation article.content-presentation-about--right, 
.container-content-presentation article.content-presentation-about--left {
    padding:20px 50px;

}
.container-content-presentation .presentation-about-project .about-project-blocks {
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container-content-presentation .presentation-about-project .about-project-block-youtube, .container-content-presentation .presentation-about-project .about-project-block-twitch {
    padding: 0 50px;
    width: 33%;
    position: relative;
}
.container-content-presentation .presentation-about-project .about-project-block-youtube {
    flex-grow: 2;
}
.container-content-presentation .presentation-about-project h3 {
    padding-bottom: 30px;
}

.tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}
.tile {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 18px;
    padding: 2%;
    width: 30%;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 2%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* margin: auto; */
    cursor: pointer;
    position: relative;
}
.tile:hover {
    transform: translatey(0px);
    animation: float 1s ease-in-out infinite;
}
.tile h3.strong {
    font-size: 1.5vw;
}
.tile .fa-mouse-pointer {
    position: absolute;
    bottom: 0;
    right:0;
}

footer {
    padding: 0 0 50px 0;
    color:white;
}


/*=====================================
            Responsive
======================================*/

@media (max-width: 1360px) {
    .tile {
        width: 40%;
    }
    .tile img {
        height: 100px;
    }

    .container-content-presentation .presentation-about-project .about-project-block-youtube, .container-content-presentation .presentation-about-project .about-project-block-twitch {
        flex-grow: 2;
    }    
}
@media (max-width: 800px) {
    .tile {
        width: 100%;
    }
    .tile img {
        height: 100px;
    }
    .container-content-presentation .presentation-about-project .about-project-block-youtube {
        width: 100%;
    } 

    .container-content-presentation .presentation-about-project .about-project-block-youtube, .container-content-presentation .presentation-about-project .about-project-block-twitch {
        flex-grow: 2;
    }    
}


/*=====================================
            Animations
======================================*/

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.1);
        transform: translatey(0px);
    }
    50% {
        box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
        transform: translatey(-10px);
    }
    100% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.1);
        transform: translatey(0px);
    }
}